.display:hover{
    color: white !important;
}
.thumbnail{
    height: 470px;
    background: #293546;
    border-color: black;
    border-style: double;
    border-radius:16px;
    border-width: 6px;
}
.img-responsive{
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.img-responsive:hover {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
body{
    background: lightgray;
}
.holder{
    background:lightgray;
}
.caption{
    text-align:center;
    color:white!important;
}